<nav class="navbar navbar-light navbar-toggleable-sm bg-inverse navbar-inverse justify-content-center">

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-expanded="false" data-target="#collapsingNavbar3">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to "Sample app", root_path, class: "navbar-brand d-flex mr-auto"%>
  <div class="navbar-collapse collapse" id="collapsingNavbar3">
    <ul class="navbar-nav mr-auto w-100 justify-content-left">
      <li class="nav-item active">
        <%= link_to "Home", root_path , class: "nav-link" %> 
      </li>
      <li class="nav-item active">
        <%= link_to "Help", help_path, class: "nav-link"%>
      </li>
      <li class="nav-item active">
        <%= link_to "About", about_path, class: "nav-link"%>
      </li>
    </ul>

    <ul class="nav navbar-nav mr-100 w-100 justify-content-end">
      <% if logged_in? %>      
      <li class="nav-item active">
        <%= link_to "Users", '#', class: "nav-link"%>
      </li>

      <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Account</a>

       <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
        <%= link_to "Profile", current_user, class: "dropdown-item"%>
        <%= link_to "Settings", '#', class: "dropdown-item"%>
        <div class="dropdown-divider"></div>
        <%= link_to "Log out", logout_path, class: "dropdown-item", method: :delete%>

      </div>
    </li>
    <% else %>
    <li class="nav-item active">
      <%= link_to "Log in", login_path, class: "nav-link" %>
    </li>
    <% end %>
  </ul>

</div>
</nav>

